@import "tailwindcss";

@layer base {
  :root {
    --font-sans: var(--font-space-grotesk), system-ui, sans-serif;
    --font-mono: var(--font-jetbrains-mono), monospace;
  }
}

html,
body {
  background-color: #111113;
  color: #ecece9;
  font-family: var(--font-space-grotesk), system-ui, sans-serif;
  overflow-x: hidden;

  /* Sembunyikan scrollbar utama */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

/* Sembunyikan scrollbar untuk elemen khusus (seperti Navbar) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}